.card {
    flex-direction: row !important;
    align-items: center !important;
    box-shadow: 4px 1px 32px -2px rgba(13, 68, 57, 0.3);
    -webkit-box-shadow: 4px 1px 32px -2px rgba(13, 68, 57, 0.3);
    -moz-box-shadow: 4px 1px 32px -2px rgba(13, 68, 57, 0.3);
}

.card-imgs {
    height: 100%;
    margin: 1rem;
}

@media only screen and (max-width:688px) {
    .card {
        flex-direction: column !important;
    }

    .card-imgs {
        width: 100%;
        margin-top: 0;
        height: 300px;
    }

    .card-imgs img {
        width: 100%;
        height: 100%;
    }

    .card-body h1,
    .card-body h3 {
        margin-bottom: 1rem;
        text-align: center;
    }
}