.wc-img {
    padding: 2rem 0;
}

.wc-img img {
    border-radius: 9px;
    box-shadow: 4px 1px 32px -2px rgba(13, 68, 57, 0.3);
    -webkit-box-shadow: 4px 1px 32px -2px rgba(13, 68, 57, 0.3);
    -moz-box-shadow: 4px 1px 32px -2px rgba(13, 68, 57, 0.3);
}

@media only screen and (max-width:688px) {
    .wc-body {
        flex-direction: column;
        margin: 0 !important;
        padding: 1.5rem 0 !important;
        text-align: justify !important;
    }

    .wc-body h1 {
        font-size: 2.5rem;
        margin: 20px;
    }

    .wc-text {
        padding: 1rem !important;
        margin-left: 1rem !important;
    }

    .wc-text p {
        margin-left: 1rem !important;
    }

    .wc-img {
        width: 100%;
        padding: 2rem;
    }

    .wc-img img {
        width: 100%;
        padding: 0;
    }
}